<%- include("includes/head.ejs") %>
<body>
    <h1>This is home Page</h1>
    <h3> <%= "sana".toUpperCase() %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Sequi perspiciatis architecto odit dolorum voluptatibus enim, quam eius hic cum. 
         Sed ad excepturi quod, eaque praesentium ducimus laborum nemo. Veritatis, soluta?</p>

        <button>click me!</button>

        <%- include("includes/footer.ejs") %>
</body>
</html>