<%- include("includes/head.ejs") %>
<body>
    <h1>Your dice gave value: <%= num  %> </h1>

    <% if( num == 6 ) { %>
        <h2> Nice! Roll Dice Again. </h2>
    <% } %>
    

    <%- include("includes/footer.ejs") %>
</body>
</html>